In [38]:
import numpy as np
import pandas as pd
from utils.DB import DB

In [39]:
db = DB()

Connect To Database

encryption key: ········

Connected: {'user': 'postgres', 'channel_binding': 'prefer', 'dbname': 'clinical', 'host': 'clinical_db', 'port': '5432', 'options': '-c search_path=clinical_document,public', 'sslmode': 'require', 'sslcompression': '0', 'sslcertmode': 'allow', 'sslsni': '1', 'ssl_min_protocol_version': 'TLSv1.2', 'gssencmode': 'prefer', 'krbsrvname': 'postgres', 'gssdelegation': '0', 'target_session_attrs': 'any', 'load_balance_hosts': 'disable'}

In [40]:
cursor = db.connection.cursor()
# Search First Name
sql = "SELECT DISTINCT name, description, uuid FROM administrative.project"
cursor.execute(sql)
data = cursor.fetchall()

cursor.close()
pd.DataFrame(data, columns=['name', 'description', 'uuid'])

   name description                                  uuid
0  test        test  b544d4ef-d8ed-471f-b7fc-f258aa6c6198